<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="favicon.ico">
        <title> Proyectos con python: Deploying Django to Production</title>
        {# Cargamos la librería #}
        {% load bootstrap4 %}
        {#CSS Bootstrap #}
        {% bootstrap_css %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
              <a class="navbar-brand" href="http://collectivecloudperu.com"><img src="http://collectivecloudperu.com/img/logo.png" class="img-fluid"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
      
              <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                  <a class="nav-link" href="http://collectivecloudperu.com">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="http://blog.collectivecloudperu.com" target="_blank">Blog</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="http://collectivecloudperu.com/merchandising/" target="_blank">Merchandising</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contacto</a>
                </li> 
                </ul>
                <form name="bencc" method="get" action="http://www.google.com/search" id="bencc" class="form-inline mt-2 mt-md-0" target="_blank">
                  <input type="hidden" name="domains" value="blog.collectivecloudperu.com">
                  <input type="hidden" name="sitesearch" value="blog.collectivecloudperu.com">
                  <input class="form-control mr-sm-2" type="text" placeholder="Buscar..." aria-label="Buscar...">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="document.getElementById('bencc').submit()">Buscar</button>
                </form>
              </div>
            </div>
          </nav>
          </header>
      
          <!-- P -->
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- 5 -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-2390065838671224"
               data-ad-slot="2826072263"
               data-ad-format="auto"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
          <!-- End P -->
      
          <main role="main">
      
            <section class="jumbotron text-center">
              <div class="container">
                <h1 class="jumbotron-heading">Como integrar Django y Bootstrap 4</h1>
      
                <br><br><br>
                <h2>Formularios</h2>
      
                <form>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" required>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form> 
      
                <br><br><br><br>
                <h2>Botones</h2>
                <button type="button" class="btn btn-primary">Primario</button>
                <button type="button" class="btn btn-secondary">Secundario</button>
                <button type="button" class="btn btn-success">Exito</button>
                <button type="button" class="btn btn-danger">Advertencia</button>
                <button type="button" class="btn btn-warning">Peligro</button>
                <button type="button" class="btn btn-info">Información</button>
                <button type="button" class="btn btn-light">Claro</button>
                <button type="button" class="btn btn-dark">Oscuro</button>
                <button type="button" class="btn btn-link">Link</button>
      
                <br><br><br><br>
                <h2>Colapsable</h2>
                <div class="accordion" id="accordionExample">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Grupo 1
                        </button>
                      </h5>
                    </div>
      
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingTwo">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Grupo 2
                        </button>
                      </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingThree">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Grupo 3
                        </button>
                      </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </section>
      
      
          <footer class="text-muted">
              <div class="container">
                <p class="float-right">
                  <a href="#">Subir</a>
                </p>
              </div>
              <div align="center">
                Desarrollado por <a href="https://github.com/sebastianVP" target="_blank">Magic Perú</a>
            </div> 
          </footer>
      
          {# JS y jQuery Bootstrap #}
          {% bootstrap_javascript jquery='full' %}
      
          
        </body>
  </html>
